# Active le moteur de réécriture d'URL d'Apache
RewriteEngine On

# Règle de réécriture pour simplifier les URLs
# Cette règle redirige les requêtes vers les fichiers correspondants sans afficher leur extension .php
RewriteRule ^(verification|sign|login|index)/? $1.php
